<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ailatrieuphu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ai Là Triệu Phú"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".shopcredit"></activity>
        <activity android:name=".Infoaccount" />
        <activity android:name=".Registeraccount" />
        <activity android:name=".Manageraccount" />
        <activity android:name=".Forgetpassword" />
        <activity android:name=".Answerquestion" />
        <activity android:name=".Question" />
        <activity android:name=".Rank" />
        <activity android:name=".History" />
        <activity android:name=".Login">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>